@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header__container,
.navigation,
.site-nav,
.contacts, .contacts__link, .contacts__item--tel, .social-icons__link, .doing__box, .clients, .follow__btn, .modal__close-btn, .form__label-icon, .form__label-icon span {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primery-text-color);
  background-color: var(--main-color);
  font-size: 16px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

:root {
  --primery-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --adress-color: gba(255, 255, 255, 0.6);
  --main-color: #ffffff;
  --footer-adress: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.logo {
  color: var(--primery-text-color);
  font-family: raleway;
  font-style: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* header+footer */
.logo__blue {
  color: var(--accent-color);
}

.navigation {
  margin-left: 93px;
}

.navigation__item .nav__link {
  padding: 32px 0px;
  display: block;
}

.navigation__item {
  position: relative;
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: inline-block;
  font-weight: 500;
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link:hover::after, .nav__link:focus::after {
  transform: scaleX(1);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  display: block;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item--tel {
  margin-left: 50px;
}

/* .contact-tel-mail::before {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  content: '';
  background-image: url(../images/icons.svg/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-tel::before {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  content: '';
  background-image: url(../images/icons.svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
.section--other-bg {
  background-color: #f5f4fa;
}

.people {
  display: flex;
}

.people__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.people__item:not(:last-child) {
  margin-right: 30px;
}

.people__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.people__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.people__descrp {
  color: var(--second-text-color);
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

/* -----icons--------------------- */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-icons__item {
  width: 44px;
  height: 44px;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: #ffffff;
}

.social-icons__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

.hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero__btn {
  border: transparent;
  /* width: 200px; */
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
}

.about {
  display: flex;
}

.about__item {
  margin-right: 30px;
}

.about__item:last-child {
  margin-right: 0;
}

.about__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.about__text {
  /* margin-right: 30px; */
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--padding {
  padding-top: 0;
}

.doing {
  display: flex;
}

.doing__item {
  position: relative;
}

.doing__item:not(:last-child) {
  margin-right: 30px;
}

.doing__box {
  position: absolute;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.doing__content {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.clients {
  justify-content: center;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
  color: var(--primery-text-color);
  font-family: raleway;
  font-style: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--white {
  color: var(--main-color);
}

.address {
  font-style: normal;
  display: inline;
}

.address__footer:not(:last-child) {
  margin-bottom: 9px;
}

.adress--map {
  margin-bottom: 9px;
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress--mail {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--footer-adress);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress--mobile {
  font-style: normal;
  color: var(--footer-adress);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----icons------------------- */
.section-join {
  margin-left: 70px;
}

/* common for next section */
.footer-icon-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join {
  display: flex;
  justify-content: center;
}

.section-adress {
  flex-grow: 1;
}

.join__list {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.join__list + .join__list {
  margin-left: 10px;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background: var(--accent-color);
  border-radius: 50%;
}

.join__item {
  fill: var(--main-color);
  width: 20px;
  height: 20px;
}

/* -------------footer input-------------- */
.follow {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 93px;
}

.follow-form {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.follow__label {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.follow-form input {
  /* margin-right: 12px; */
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.follow__btn {
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
}

.follow__svg-plane {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button__item:not(:last-child) {
  margin-right: 9px;
}

.button__btn {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  font-family: inherit;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__btn:hover, .button__btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.card .card__item {
  width: calc(100% / 3 - 30px);
}

.card__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__item:nth-child(3n) {
  margin-right: 0;
}

.card__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:focus .card__overlay-text {
  transform: translateY(0);
}

.card__item:hover .card__overlay-text {
  transform: translateY(0);
}

.card__thumb {
  padding: 20px 24px;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.card__text {
  margin: 0;
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  background-color: var(--main-color);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  justify-content: center;
  color: #000000;
  cursor: pointer;
}

.modal__icon-close-btn {
  position: absolute;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__icon-close-btn,
.modal__close-btn:focus .modal__icon-close-btn {
  fill: var(--accent-color);
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* для инпут и текстэрия */
.form__label-name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.icons-wrap {
  position: relative;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-width: 1px;
  background-color: transparent;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__input-icons {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__input-icons {
  fill: var(--accent-color);
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  border-color: var(--accent-color);
}

textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* ------------confirmation----------------- */
.confirmation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__checkbox:focus + .form__label-icon span {
  border: 2px solid var(--primery-text-color);
}

.form__checkbox:checked + .form__check-icon {
  background-origin: border-box;
}

.form__checkbox:checked + .form__check-icon {
  background-origin: border-box;
}

.form__checkbox:checked + .form__label-icon span {
  background-color: var(--accent-color);
  border: none;
}

.form__label-icon {
  justify-content: center;
}

.form__label-icon span {
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primery-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__check-icon {
  fill: var(--main-color);
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.form__conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 2px;
}

.modal-sbm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__submit-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  border: transparent;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */