// .section__title {
//   margin-top: 0;
//   margin-bottom: 50px;
//   font-style: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
//   text-align: center;
// }

.about {
  display: flex;
}

.about__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.about__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.about__text {
  /* margin-right: 30px; */
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
