.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.header__container,
.navigation,
.site-nav,
.contacts {
  @extend %display;
}

.header__container {
  height: 60px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    height: 80px;
  }
}

// mobile menu--------------------

@media screen and (max-width: 767px) {
  .navigation,
  .contacts {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header__menu-btn {
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  border: transparent;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &focus {
    fill: var(--accent-color);
  }
}

.header__menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 7;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item {
  // margin-top: 48px;
  // margin-left: 40px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu__link {
  text-align: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
}

.mobile__menu-bottom {
  // margin-bottom: 64px;
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
}

.menu__link-contacts--tel {
  display: block;
  margin-bottom: 32px;
  color: var(--accent-color);

  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.menu__link-contacts--mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.menu-social-list {
  display: flex;
  margin-top: 64px;
}

.menu__social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:not(:last-child)::after {
    content: '';
    width: 22px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
.menu__social-link {
  color: var(--accent-color);
}

// -----------------------
.logo {
  color: var(--primery-text-color);
  font-family: raleway;
  font-style: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* header+footer */
.logo__blue {
  color: var(--accent-color);
}

.navigation {
  margin-left: 88px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
  }
}

// .navigation__item .nav__link {
//   padding: 32px 0px;
//   display: block;
// }

.navigation__item {
  position: relative;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  display: inline-block;

  padding: 32px 0px;

  font-weight: 500;
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    display: block;
    bottom: -1px;

    color: var(--accent-color);

    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: scaleX(1);
  }
}

.contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.contacts__link {
  @extend %display;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;

  margin-right: 10px;
}

.contacts__item--tel {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

// .contacts__icon-tel {
//   fill: currentColor;
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
// }

/* .contact-tel-mail::before {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  content: '';
  background-image: url(../images/icons.svg/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-tel::before {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  content: '';
  background-image: url(../images/icons.svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
