.container {
  // width: 1200px;
  // padding-left: 15px;
  // padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;
  // outline: 2px solid tomato;

  width: 100%;
  // height: auto;
  margin: 0 auto;

  @media screen and (min-widht: 480px) {
    width: 480px;
  }
  @media screen and (min-widht: 768px) {
    width: 768px;
  }
  @media screen and (min-widht: 1200px) {
    width: 1200px;
  }
}
