:root {
  --primery-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --adress-color: gba(255, 255, 255, 0.6);
  --main-color: #ffffff;
  --footer-adress: rgba(255, 255, 255, 0.6);
}
